.feed{
    flex: .5;
    border-right: 1px solid #e6ecf0;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed_header{
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
    border: 1px solid #e6ecf0;
    padding: 15px 20px;
}