.leftsidebar{
    border-right: 1px solid #e6ecf0;
    flex: .2;
    min-width: 250px;
    margin-left: 20px;
    margin-right: 0px;
}

.leftsidebar_twitter_logo{
    color: #08a0e9 ;
    font-size: 30px !important;
    margin: 10px 20px;
    margin-bottom: 20px;

}

.leftsidebar_button{
    background-color: #08a0e9 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 90% !important;
}
