.sidebaroptions{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebaroptions:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #08a0e9;
    transition: color 100ms ease-in;
}

.sidebaroptions > .MuiSvgIcon-root{
    padding: 15px;
    font-size: 30px  !important;
}

.sidebaroptions > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebaroptions--active{
    color: #08a0e9;
}