.tweetbox{
    padding-bottom: 10px;
    border-bottom: 8px solid #08a0e9;
    padding-right: 10px;
}

.tweetbox > form{
    display: flex;
    flex-direction: column;
}

.tweetbox_input{
    padding: 20px;
    display: flex;
}

.tweetbox_input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetbox_newfeedicon{
    padding: 10px;
    display: flex;

    color: #08a0e9;
    margin-left: 0;
}

.tweetbox_button{
    background-color: #08a0e9 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 30px !important;
    width: 80px !important;
    margin-left: auto !important;
}